.title {
    color: #373b3e;
    font-weight: bold;
    padding-top: 10px;
}

.spec {
    padding: 10px;
    text-align: left;
}

.spec-title {
    color: #373b3e;
    text-align: left;
    margin-bottom: 10px;
}

.spec-item {
    border: 1px solid #cccccc;
    border-radius: 25px;
    padding: 3px 15px;
    margin: 10px;
    margin-left: 0px;
    color: #373b3e;
}

.spec-item.selected {
    border: 1px solid #198774;
    background-color: #198774;
    color: #ffffff;
}

.spec-bottom {
    text-align: left;
    padding: 10px;
    padding-bottom: 60px;
}