.checkbox {
	position: relative;
	float: right;
	margin-top: 2px;
}

.checkbox label {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  background: #e5ecec;
  border-radius: 25px;
}

.checkbox label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  width: 9px;
  height: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
